
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<div class="container">
    <div class="container-fluid col-md-12 mb-3">
        <h1 class="text-center text-warning text-uppercase">Hakkımızda</h1>
    </div>
    <div class="text-center">
        <p>Hadımköy Marmaris Büfe olarak, 2018 yılından beri sizlere hizmet vermekteyiz.</p>
        <p>Ürünlerimizde katkı maddeleri bulunmamaktadır.</p>
        <p>Et ürünlerimiz helal sertifikaasına sahiptir.</p>
        <p>Ürünlerimiz günlük olarak, taze bir biçimde sizlerin hizmetine sunulmaktadır.</p>
        <br />
        <label><b>Adres: </b><adress>Hastane Mah. Ayasofya Cd. No:37/B (Ziraat Bankası karşısı) Hadımköy</adress></label><br />
        <label><b>Telefon: </b><a href=”tel:05393554040″>0(539) 355 40 40</a></label><br />
        <label><b>Mail: </b><a href="mailto:iletisim@hadimkoymarmarisbufe.com">iletisim@hadimkoymarmarisbufe.com</a></label>
    </div>
</div>

