
@{
    ViewBag.Title = "Menulerimiz";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<section class="col-12 card-bolumu d-inline-flex">
    <div class="card col-4 float-left d-inline-flex center" style="width: 250px;">
        <img src="~/img/menuler/1-EtBurgerPatatesIcecek.png" class="card-img-top m-1 mx-auto" alt="..." style="width:300px; height:300px;">
    </div>
    <div class="card col-4 float-left" style="width: 250px;">
        <img src="~/img/menuler/2-2SosisliPatatesIcecek.png" class="card-img-top m-1 mx-auto" alt="..." style="width:300px; height:300px;">
    </div>
    <div class="card col-4 float-left" style="width: 250px;">
        <img src="~/img/menuler/3-2IslakHamburgerPatatesIcecek.png" class="card-img-top m-1 mx-auto" alt="..." style="width:300px; height:300px;">
    </div>
</section>
<br />
<section class="col-12 card-bolumu d-inline-flex">
    <div class="card col-4 float-left" style="width: 250px;">
        <img src="~/img/menuler/4-YarimKoftePatatesIcecek.png" class="card-img-top m-1 mx-auto" alt="..." style="width:300px; height:300px;">
    </div>
    <div class="card col-4 float-left" style="width: 250px;">
        <img src="~/img/menuler/5-Midye.png" class="card-img-top m-1 mx-auto" alt="..." style="width:300px; height:300px;">
    </div>
    <div class="card col-4 float-left" style="width: 250px;">
        <img src="~/img/menuler/6-PatsoIcecek.png" class="card-img-top m-1 mx-auto" alt="..." style="width:300px; height:300px;">
    </div>
</section>
<br />
<div>
    <table class="table text-info bg-dark" border="1" style="width:400px; height:300px; border:3px;">
        <tr>
            <td>ad</td>
        </tr>
    </table>
</div>
