
@{
    ViewBag.Title = "Urunlerimiz";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<html>
<head>
</head>
<body>
    <section class="col-12 card-bolumu d-inline-flex">
        <div class="card col-3 float-left d-inline-flex center" style="width: 250px;">
            <img src="~/img/slider/1.jpg" class="card-img-top m-1 mx-auto" alt="..." style="width:150px; height:300px;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-3 float-left" style="width: 250px;">
            <img src="~/img/slider/2.jpg" class="card-img-top m-1 mx-auto" alt="..." style="width:300px; height:300px;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-3 float-left" style="width: 250px;">
            <img src="~/img/slider/3.jpg" class="card-img-top m-1 mx-auto" alt="..." style="width:150px; height:300px;">
            <div class="card-body float-left">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-3 float-left" style="width: 250px;">
            <img src="~/img/slider/4.jpg" class="card-img-top m-1 mx-auto" alt="..." style="width:150px; height:300px;">
            <div class="card-body float-left">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </section>
    <br />
    <br />
    <br />
    <br />
    <div class="card-deck">
        <div class="card">
            <img src="~/img/urunler/icecekler.png" />
            <div class="card-body bg-warning">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card">
            <img src="~/img/urunler/gozleme.png" />
            <div class="card-body bg-warning">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card">
            <img src="~/img/urunler/hamburger.png" />
            <div class="card-body bg-warning">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>
    </div>
</body>
</html>